.button
{
	border-radius: 10px;
    font-size: 30px;
    background: #978fa0;
    width: 60px;
    height: 50px;
    margin: 6px;
}
.text
{
	padding: 20px 0.05px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
}
.table_bg
{
	padding:30px;
	background:lightgray;
}

input[type = "text"] 
{
	padding: 20px 0.05px;
	font-size: 24px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	border: 2px solid black;
}

